.content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px 10px;
  border: 2px solid #F15B2A;
  border-radius: 4px;
}

.title {
  color: #F15B2A;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 0 20px 0;
}

.grid {
  align-items:center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  width: 100%;
  margin: 0 0 auto;
  min-width: 80px;
  max-width: 600px;
  font-size: 18px;
}

.row {
 display: contents;
}

.cellFull {
 padding: 3px;
 text-align: left;
 grid-column: 1 / 3;
 width: 100%;
}

.cellLeft {
  color: #6A5449;
  padding: 3px;
  text-align: left;
  grid-column: 1 / 2;
}

.cellRight {
  color: #6A5449;
  font-weight: bold;
  padding: 3px;
  text-align: left;
  grid-column: 2 / 3;
}

.inputContainer {
  display: inline-block;
}

.qtyButton {
  background-color: #F15B2A;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  height: 28px;
  width: 24px;
}

.qtyButtonLeft {
  float: left;
  margin-right: 2px;
}

.qtyButtonRight {
  float: right;
  margin-left: 2px;
}

select {
  color: #6A5449;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  padding: 4px;
  width: 80%;
}

select>option {
  color: #6A5449;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.quantityInput[type="number"] {
  color: #6A5449;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  width:50px;
}