<div class="content">
  <div class="title">
    {{pageTitle}}
  </div>

  @if (isLoading()) {
    <div>... loading products</div>
  } @else if (errorMessage()){
    <div style='color: red'>An error occurred: {{ errorMessage() }}</div>
  } @else {
    <div class="grid">
      <div class="row">
        <div class="cellFull">
          <select [(ngModel)]="selectedProduct">
            <option value="undefined" selected>--Select a product--</option>
            @for(product of products(); track product.id) {
              <option [ngValue]='product'>{{ product.productName }}</option>
              }
          </select>
        </div>
      </div>
      <div class="row">
        <div class="cellLeft"><label for='quantity'>Quantity:</label></div>
        <div class="cellRight">
          <button class="qtyButton" (click)="onDecrease()">-</button>
          <input class="quantityInput" id='quantity' type='number' [(ngModel)]='quantity'>
          <button class="qtyButton" (click)="onIncrease()">+</button>
        </div>
      </div>
      <div class="row">
        <div class="cellLeft">Name:</div>
        <div class="cellRight">{{ selectedProduct()?.productName }}</div>
      </div>
      <div class="row">
        <div class="cellLeft">Description:</div>
        <div class="cellRight">{{ selectedProduct()?.description }}</div>
      </div>
      <div class="row">
        <div class="cellLeft">Price:</div>
        <div class="cellRight">{{ selectedProduct()?.price | currency }}</div>
      </div>
      <div class="row">
        <div class="cellLeft" [style.color]='color()'>Total: </div>
        <div class="cellRight">{{ total() | currency }}</div>
      </div>
    </div>
  }
  <app-review-list/>
</div>